*{
  margin: 3px;
  padding:0%;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  color: #000000;
}


.Header {
   background-color: rgb(101, 8, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  position: fixed;
  margin-top: -210px;
  background-color: rgb(197, 8, 24);
}

.logo{
    color: #fcfcfc;
    font-size: 20px;
    font-family: 'Damion',cursive;
    /* position: fixed; */
    top: 4%;

  }
 
nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 80px;
}

nav a{
  color: #eceff4; /* or any color based on your design */
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
}

 
  
.profile-pic {
  border-radius: 400px;
  width: 300px;
  height: 350px;
  border: 2px soli red;
  margin-left: 800px;
  margin-top: -280px;
  /* width:500px;
  height:500px; */
}

/* .badge { */
  /* position: absolute;
  padding: 5px 10px; */
  /* background-color: #be72b8; or any color you want */
  /* color: #f2f7f3; */
  /* transform: translate(-50%, 60%); This centers the badge */
/* } */
.badge-webflow {
  top: 80%; /* Align the top edge of the badge to the center of the image */
  left: -70%; /* Align to the left edge of the image */
}
.badge-design {
  top: 50%; /* Align the top edge of the badge to the center of the image */
  right: -100%; /* Align to the right edge of the image */
  background-color: rgb(95, 95, 232);
}
.banner{
  width: 100%;
  height: 400px;
  margin-top: 40px;
  text-align: center;
}
.Banner h1{
  margin-left: 100px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 200px;
  padding-top: 40px;
  color: #dc0910;
 
}
.Banner h2{
  margin-left: 150px;
  text-align: left;
  text-transform: uppercase;
  color: #550A35;
  margin-top: 10px;
}
.Banner p{
  margin-left: 100px;
  text-align: left;
  /* top: 500px; */
  width: 600px;
  margin-top: 20px;
}
.Banner{
  /* text-align: center; */
  margin-top: 100px;
 
}
     /* Bio */

.bio-container {
  /* background: #f9f9f9; Light background for the bio section */
  padding: 20px;
  /* border-radius: 8px; */
  /* margin: 20px; */
  text-align: center;
  margin-top:300px;
  margin-bottom: 100px;
  padding-top: 80PX;
  /* background-attachment: fixed; */
  /* flex-basis: 80%; */
  /* padding: 80PX 2PX; */
  /* overflow: auto; */
 
}
.img{
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  margin-top: 60px;
  

}

.bio-container h1{
  margin-left:10px;
  color: #080000;
  /* text-transform: uppercase; */
  
  
}
.bio-container p{
  margin-top: 10px;
  text-align: center;
  margin-left: 40px;
  font-family: 'Kosugi Maru', sans-serif;
}

.hero-btn {

  display: inline-block;
  text-decoration: none;
  color: #fefefe;
  /* border: 1px solid rgb(225, 65, 65); */
  background: #550A35;
  padding: 12px 34px;
  font-size: 18px;
  border-radius: 60px;
  width: 200px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}
.hero-btn:hover {
  border: 1px solid #ad1f87;
  background: #ff0000;
  transition: 1s;
}

/* Skills */

.professional-skills{
  /* background: #f9f9f9; Light background for the bio section */
  padding: 20px;
  /* border-radius: 8px; */
  margin: 20px;
  text-align: center;
  margin-top:300px;
  margin-bottom: 100px;
  padding-top: 80PX;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px; /* Size of the circle */
  height: 100px;
  margin-left:350px;
  
  /* flex-basis: 33%; */
    /* border-radius: 50px; */
    /* margin-bottom: 5%; */
    /* text-align: left; */
    /* background: #ffe0e0; */
    /* padding: 10px; */
    /* cursor: pointer; */
   

}
.professional-skills h1{
text-align: center;
margin-top: -100px;
size: 100px;
padding-top: 100px;

}
.skills-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fefefe; 
  padding: 20px;
  width: 1000px; /* Size of the circle */
  height: 100px;
  
  
}

.technical-skills, .professional-skills {
  width: 50%;
  
}

.skill-name {
  display: block;
}

/* Technical Skills Bar */
.skill-bar {
  background-color: #444;
  border-radius: 5px;
  overflow: hidden;
}

.skill-level {
  background-color: #08f; /* Bright color for the filled part */
 
  height: 20px;
  border-radius: 5px;
  
}

/* Professional Skills Circle */
.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.skills-containers {
  display: flex;
  justify-content: space-between;
  margin-top:50px;
  gap: 80px;

}

.skill-circle {
  margin-left: 30px;
  margin-top: 30px;
  /* position: relative; */
  width: 100px; /* Size of the circle */
  height: 100px;
  border: 5px solid #550A35; /* Bright border color */
  /* background-color: #000000; */
  border-radius: 50%;
  text-align: center;
  line-height: 90px; /* Centralize the percentage */

}

.skill-percentage {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25em;
  z-index: 1;
}

.skill-circle::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #000000; /* Match the background */
  border-radius: 50%;
  z-index: 0;
}

/* Make sure to add animations or static display for skill levels and percentages */

/* Project */

.project-card {
  /* background-color: #333; Dark theme background */
  color: #fff; /* Light text */
  border-radius: 8px;
  /* padding: 16px;
  margin: 16px; */
  
  width: 300px; /* Fixed width or you can make it responsive */
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  margin-top: 30px;
  
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.project-title {
  margin-top: 10px;
}

.project-description {
  font-size: 14px;
  color: #000000;
}

.my-projects {
  text-align: center;
  /* padding: 20px; */
  /* background-color: #222; Darker background for the projects section */
  margin-top:600px;
  margin-bottom: 100px;
}
.my-projects h1{
  margin-top: 400px;
  padding-top: 100px;
}

.projects-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around; /* Or use 'space-between' or 'center' depending on your layout */
  gap: 16px; /* Provides space between cards */
}


/* ContactForm.css */
/* ContactSection.css */
.contact-section {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color: #b92f2f;
  /* border-radius:40px; */
  padding: 100px;
  /* margin-left: 90px; */
  /* color: #fff; White text */
}

.contact-details {
  max-width: 50%;
  /* background-color: #6d5e5e; */

}

.contact-details h1 {
  margin-bottom: 20px;
  /* background-color: #5f5e6d; */
  color: #fff;

}
.contact-details p{
  /* background-color: #5e5e6d; */
  color: #fff;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  max-width: 800%;
  border-radius: 40px;

  /* background-color: #6d5e5e; */
}

.contact-form input,
.contact-form textarea {
  /* background-color: #000000; */
  /* color: #fff; */
  margin-bottom: 15px;
  padding: 10px;
  padding-right: 200px;
  border: none;
  /* border-radius: 5px; */
}

.contact-form button {
  display: inline-block;
  text-decoration: none;
  color: #fefefe;
  /* border: 1px solid rgb(225, 65, 65); */
  background: #0d550a;
  padding: 12px 34px;
  font-size: 18px;
  border-radius: 60px;
  width: 200px;
  margin-left: 90px;
  margin-right: 30px;
  margin-top: 30px;
}



/* Adjustments for smaller screens */

